[Unit]
Description=Plex Cinema Mode
After=network.target

[Service]
WorkingDirectory=/home/pi/node-apps/plex-webhook-cinema-mode
ExecStart=/usr/bin/npm start
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target